

#simple-btn {
    -fx-background-color: rgb(255, 94, 0);
    -fx-text-fill: white;
    -fx-font-size: 100px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

#simple-btn:hover {
    -fx-background-color: rgb(255, 136, 0);
}